* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f5fa;
}

/* .ulStyle {
  background: #ff9999;
  padding: 10px;
  border-radius: 10px;
}

.liStyle {
  background: #3399ff;
  padding: 5px;
  list-style: none;
  border-radius: 10px;
} */

/* Header */

header {
  background-color: #05397a;
  border-bottom: 6px solid #ffffff;
  width: 100%;
  position: sticky;
  top: 0;
}

/* .row {
  min-width: 100%;
  margin: 0 auto;
} */

.logo {
  width: 300px;
  height: auto;
  margin-left: 10px;
}

/* Inputs */

.inpBtn {
  width: 90%;
  margin: 50px;
  padding-bottom: 75px;
}

.custom-field {
  position: relative;
  font-size: 14px;
  padding-top: 20px;
  margin-bottom: 5px;
}

.custom-field input {
  border: none;
  background: #f2cc8f6b;
  padding: 12px;
  margin-bottom: 5px;
  border-radius: 3px;
  width: 250px;
  outline: none;
  font-size: 14px;
}

.custom-field .placeholder {
  position: absolute;
  left: 12px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: #aaa;
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder {
  top: 10px;
  font-size: 10px;
  color: #aaa;
}

.note {
  font-size: 10px;
  color: grey;
}

/* Button */

.btn-render {
  font-family: "Noto Serif JP", serif;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 2px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-top: 20px;
}

.btn-render::after {
  content: "";
  background-color: #ee9b00;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn-render:hover::after {
  top: 0px;
  left: 0px;
}

.btn-remove {
  color: #ffffff;
  background: rgba(202, 60, 60, 0.884);
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-family: "Noto Serif JP", serif;
  right: 160px;
  top: 390px;
  padding: 2px;
  letter-spacing: 2px;
  font-size: 14px;
  opacity: 0;
  cursor: pointer;
  position: absolute;
}

/* Table */
table {
  font-family: sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 20px;
  text-align: center;
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  margin-top: 100px;
}

td,
th {
  border: 1px solid #cccccc;
  border-radius: 18px;
  padding: 8px;
}

th {
  font-weight: bold;
  text-transform: uppercase;
  transition: 3s;
  background-color: #f2cc8fa0;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:hover {
  background-color: #bebebe;
  color: white;
}

/* Footer */
footer {
  background-color: #2b2b2b;
  padding: 20px;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-nav {
  list-style: none;
  float: left;
}

.footer-nav li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li a:link,
.footer-nav li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: 0.5s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

footer p {
  color: #888;
  text-align: center;
  font-size: 14px;
  margin: 20px;
}
